@font-face {
  font-family: 'Soleto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto'),
    url('@/assets/fonts/Soleto/Soleto-Light.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Soleto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
    url('@/assets/fonts/Soleto/Soleto-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Soleto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'),
    url('@/assets/fonts/Soleto/Soleto-Bold.ttf') format('truetype');
  font-display: swap;
}


