:root {
  --font-size: 16px;
  --body-font-family: 'Noto Sans', 'sans-serif';
  --heading-font-family: 'Soleto', 'sans-serif';
  --button-font-family: 'Soleto', 'sans-serif';
}

:root .odontoSystem {
  --font-head: 'Exo 2', 'Roboto', 'sans-serif';
}

$container-size: 80rem;
$container-spacing: 2rem;
